.banners_grid img{
    height: 100px;
    width: 100px;
    margin-left: 2%;
}

.banners_grid input{
    max-width: 20px;
    margin-top: -10%;
    margin-left: 2%;
}

.banners_grid p, .banners_grid button{
    display:inline-block;
    margin-top: -10%;
    margin-left: 2%;
    vertical-align:middle;
}