.banners_widget{
	max-width: 100%;
}

.banners_widget a{
	display: block;
	width: inherit;
	height: inherit;
	line-height: 200px;
	max-width: 100%;
}

.banners_widget img{  	
	display: inline-block;
	vertical-align: middle;	
	max-height: 100%;
	margin:0 auto;
	max-width:100%;
  }

.swiper-container {
    width: 100%;
    height: 100%;
    padding: 10px;
}

.swiper-wrapper{
	display: table;
}


.swiper-slide {
	display: table-cell; 
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 100%;
    max-width: 100%;
}
