

<div class="swiper-container">
         <div class="swiper-wrapper banners_widget">
           
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
</div>

<script type="text/javascript">
	var widgetJSON = <?php echo json_encode($this->getWidget())?>;
	var widgets = document.getElementsByClassName("banners_widget");
	if(widgetJSON['count']){
		var banners_id = widgets[widgets.length-1].id = 'banners_'+(widgets.length-1);
		var widget_id = widgets[widgets.length-1].parentElement.id = 'widget_'+(widgets.length-1);
		new Widget(widgetJSON['count'],widgetJSON['banners'],banners_id,widget_id,widgetJSON['interval']);
	}else{
		var widget = widgets[widgets.length-1];
		widget.parentNode.parentNode.removeChild(widget.parentNode);
	}
</script>

